.fiori{
    margin: 10px 0;
    font-size: larger;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: white;
    border-bottom: 1px solid white;
    /* color: #495057;
    border-bottom: 1px solid #495057; */
}
.fiori-container:hover .fiori{
    color: tomato;
    border-bottom: 1px solid tomato;
    /* color: black;
    border-bottom: 1px solid black; */
}
.fiori-items-hidden{
    display: none;
    transition: all 0.2s ease-in-out;
}
.fiori-items-visible{
    display: flex;
    flex-flow: column;
}
.search{
    background-color: rgb(30, 30, 30);
    padding: 5px 10px;
    outline: none;
    margin-bottom: 20px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 10px;
}
.side-bar-item{
    margin: 5px 10px;
    font-size: medium;
    /* font-weight: bold; */
    border: 1px solid transparent;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    /* color: #6c757d; */
    color: #adb5bd;
    transition: all 0.2s ease-in-out;
}
.side-bar-item:hover{
    color: tomato;
    border: 1px solid tomato;
    /* color: black;
    border: 1px solid black; */
    transition: all 0.2s ease-in-out;
}
.sideBar{
    padding: 0px 50px;
}

@media only screen and (min-width: 300px) and (max-width: 768px){ 
    .sideBar{
        display: none;
    }
    .fiori{
        display: none;
    }
    .fiori-items-visible p{
        display: none;
    }
}