@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custombg : #212529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--custombg);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: tomato;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.main-page{
  display: flex;
  width: 100vw;
}
.left{
  /* background-color: tan; */
  width: 20vw;
  margin: 20px 0px;
  border-right: 1px solid tomato;
}
.right{
  /* background-color: tomato; */
  width: 80vw;
  margin: 20px 0px;
  padding: 0px 20px;
  border-left: 1px solid tomato;
}


@media only screen and (min-width: 200px) and (max-width: 768px) {
  .left{
    display: none;
  }
  .right{
    border: none;
    width: 100vw;
  }
}