@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --custombg : #212529; */
  /* --custombg : #424a52; */
  --custombg : #343a40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--custombg);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.main-page{
  display: flex;
  width: 100vw;
}
.left{
  /* background-color: tan; */
  width: 20vw;
  margin: 20px 0px;
  border-right: 1px solid tomato;
}
.right{
  /* background-color: tomato; */
  width: 80vw;
  margin: 20px 0px;
  padding: 0px 20px;
  border-left: 1px solid tomato;
}

/* CSS for blogs pages */
.flex-column{
  display: flex;
  flex-direction: column;
}

.headline{
  color: tomato;
  /* color: white; */
  font-size: 2rem;
  padding: 5px 0px;
  font-weight: bold;
}

.heading{
  /* color: deepskyblue; */
  color: white;
  font-weight: bold;
  font-size: x-large;
  padding: 5px 0px;
}

.hyper-link{
  color: skyblue;
  text-decoration: underline;
}
.hyper-link:hover{
  color: deeppink;
}

.list{
  color: rgb(211, 211, 211);
  padding-left: 10px;
  padding-top: 20px;
}

.paragraph{
  color: rgb(211, 211, 211);
  padding: 5px 0px;
}

.tomato{
  color: tomato;
  font-weight: bold;
}

.skyblue{
  color: deepskyblue;
}

.deepPink{
  color: deeppink;
  font-weight: bold;
}



@media only screen and (min-width: 200px) and (max-width: 768px) {
  .left{
    display: none;
  }
  .right{
    border: none;
    width: 100vw;
  }
}