.bold{
    font-weight: bold;
}
.content-p{
    margin: 15px 0px;
    color: #495057;
}
.headline{
    color: #212529;
    font-size: 2rem;
}
.heading{
    color: #343a40;
}
.list{
    color: #343a40;
}
.paragraph{
    color: #343a40;
}
.sub-headline{
    margin: 15px 0px;
    color: #343a40;
    font-size: 1.5rem;
}
.underline{
    text-decoration: underline;
}
.ul{
    list-style: circle;
}
.ul li{
    margin-left: 20px;
    color: #495057;
}
